* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light: #323238;
    --bg-light: white;
    --cards: #E1E1E6;
    --select: #02799D;
}


body {

    background: var(--bg-light);

    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
}



main {
  

    align-self: center;
    justify-self: center;
    display: flex;
    gap: 192px

}


span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 126.166px;
    line-height: 148px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light);
}

.timer {
    margin: auto;

}

.controls {
    margin-top: 40px;
    display: flex;
    gap: 40px;

}

.sounds {


    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;


}

.cards {
    width: 138px;
    height: 152px;


    background: var(--cards);
    border-radius: 24px;

}

.controls button svg path{
    fill:var(--light);

}

.sounds svg path {
    fill:var(--light);

}


.controls button:hover svg path{
    fill: #02799D;

}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sounds .select {
    background: var(--select);
    
}

.sounds .select svg path {
    fill: #FFFFFF;
}


.theme{
    justify-self: end;
    margin-bottom: 92px;
}

.hide{
    display: none;
}